html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* My Styles */
hr {
  background-color: #EEE;
  width: 100%;
}
html {
  font-size: 62.5%;
  font-family: Roboto;
}
body {
  color: #EEE;
  font-size: 2rem;
}
p {
  text-align: justify;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 2%;
  border: thin solid #fff;
  background: black;
}
.wrapper .row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.wrapper .col-100 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper .col-auto {
  display: flex;
  flex-direction: column;
  width: auto;
}
.wrapper .round-img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  border: 6px solid #02b2ca;
}
.wrapper .col-wrapper {
  width: 100%;
  margin-top: 3%;
}
.wrapper .col-wrapper-grad {
  background: #202855;
  background: linear-gradient(90deg, #202855 0%, #4580c2 100%);
  width: 100%;
  padding: 3%;
}
.wrapper header nav {
  display: flex;
  justify-content: space-evenly;
}
.wrapper header nav a {
  color: #FFF;
  text-decoration: none;
}
.wrapper header nav a:hover {
  color: #FFF;
  text-decoration: none;
  font-weight: 500;
}
.wrapper #one {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.wrapper #one #one-col-1 {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: left;
}
.wrapper #one #one-col-2 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 3%;
  margin-top: 1%;
}
.wrapper #one #one-col-2 .first-name {
  color: #c8dc4f;
  font-size: 3rem;
}
.wrapper #one #one-col-2 .last-name {
  color: #02b2ca;
  font-size: 6rem;
  font-weight: 400;
}
.wrapper #one #one-col-3 {
  display: flex;
  flex-direction: column;
  width: 60%;
  border-left: thin solid #EEE;
  margin-left: 3%;
  padding-left: 3%;
}
.wrapper #one #one-col-3 h2 {
  font-weight: 600;
  font-size: 3rem;
  margin-top: 2%;
}
.wrapper #one #one-col-3 p {
  margin-top: 2%;
}
.wrapper #two {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3%;
}
.wrapper #two #two-col-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}
.wrapper #two #two-col-1 h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2%;
}
.wrapper #two #two-col-1 h2.exp-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10%;
}
.wrapper #two #two-col-1 h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5%;
}
.wrapper #two #two-col-1 p.location {
  font-size: 1.5rem;
}
.wrapper #two #two-col-1 hr {
  max-width: 50%;
  margin: 0;
  margin-top: 6%;
  margin-bottom: 6%;
}
.wrapper #two #two-col-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-left: thin solid #EEE;
  margin-left: 3%;
  padding-left: 3%;
  text-align: right;
}
.wrapper #two #two-col-2 h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2%;
}
.wrapper #two #two-col-2 h2.edu-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10%;
}
.wrapper #two #two-col-2 h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5%;
}
.wrapper #two #two-col-2 p.location {
  font-size: 1.5rem;
  text-align: right;
}
.wrapper #two #two-col-2 hr {
  max-width: 50%;
  margin: 0;
  margin-top: 6%;
  margin-bottom: 6%;
}
.wrapper #three {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3%;
}
.wrapper #three #three-col-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper #three #three-col-1 h2.skills-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 3%;
}
.wrapper #four {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3%;
}
.wrapper #four #four-col-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper #four #four-col-1 h2.intro-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 3%;
}
